include ../global/head

doctype html
html(lang="ru")
  +head('Index.html')

  body
    ul
      li
        a(href="main.html") main.html ---- Главная страница
      li
        a(href="news-article.html") news-article.html ---- Страница новости
