include ../global/head
include ../global/header
include ../global/footer
include ../components/svg

doctype html
html(lang='ru')
  +head('Новые технологии')
  body(id="top")
    +header('Главная страница')

    main
      section.section.hero-section
        h1.hero__title беспилотный конвертоплан серии ЭРА
        picture
          img(class="hero__img" src="../../img/hero/hero-img.png", srcset="../../img/hero/hero-img@2x.png 2x", alt="Фото конвертоплана")

      section.section.presentation-section(id="presentation")
        .container.presentation-container
          .presentation-wrap
            .presentation-text
              h2.presentation__title КОНВЕРТОПЛАНЫ ЭРА
              p.presentation__descr Масштабируемость конструкции под задачу, простота, надежность, полевая ремонтопригодность и модульность, низкая цена
              a(href="#decision").button.presentation__button МОДЕЛЬНЫЙ РЯД
            .presentation-content
              .presentation-image
                picture
                  img(src="../../img/hero/era54a.png", srcset="../../img/hero/era54a@2x.png", alt="")
              .presentation-block
                .presentation-item
                  +svg('clock', 25, 25)
                  .presentation-item-text
                    span.presentation-item-text__title Время полёта
                    <sup>*</sup>
                    p.presentation-item-text__visible При общей массе не подлежащей сертификации
                    span.presentation-item-text__descr до 4 часов
                .presentation-item
                  +svg('weight', 33, 33)
                  .presentation-item-text
                    span.presentation-item-text__title Полезной нагрузки
                    span.presentation-item-text__descr до 7 килограмм
                .presentation-item
                  +svg('wind', 26, 26)
                  .presentation-item-text
                    span.presentation-item-text__title Ветроустройчивость
                    span.presentation-item-text__descr до 23 м/c
                .presentation-item
                  a(href="#contact").button.presentation__button ПОДРОБНЕЕ
      section.section.advantages-section(id="advantages")
        .container
          h2.section__title.advantages__title ПРЕИМУЩЕСТВА КОНВЕРТОПЛАНОВ серии ЭРА
          .advantages-wrap
            .advantages-item
              .advantages-item-content
                h3.advantages__number 01
                picture
                  img(src="../../img/advantages/advantages-1.png", srcset="../../img/advantages/advantages-1@2x.png", alt="фото преимущества")
              p.advantages-item__descr Высокая ветроустойчивость (до 23 м/c) в обоих режимах полета за счет изменения вектора тяги
            .advantages-item
              .advantages-item-content
                h3.advantages__number 02
                picture
                  img(src="../../img/advantages/advantages-2.png", srcset="../../img/advantages/advantages-2@2x.png", alt="фото преимущества")
              p.advantages-item__descr Поворотные механизмы двигателей обеспечивают конверсию между режимами и управление полетом без другой механизации
            .advantages-item
              .advantages-item-content
                h3.advantages__number 03
                picture
                  img(src="../../img/advantages/advantages-3.png", srcset="../../img/advantages/advantages-3@2x.png", alt="фото преимущества")
              p.advantages-item__descr Масштабируемость конструкции под задачу, простота, надежность, полевая ремонтопригодность, модульность, низкая цена
      section.section.product-section
        .container
          .gallery-top.slider-for(id="for")
            .product-wrap
              .product-image
                picture
                  img(src="../../img/slider/top-slider-img.png", srcset="../../img/slider/top-slider-img@2x.png 2x", alt="фото конвертоплана")
              .product-text
                h2.product__title КОНВЕРТОПЛАН ЭРА-54А
                span.product__descr Многоцелевой конвертоплан с влагозащищенной силовой установкой
                .product-text-block
                  .product-item
                    +svg('speed', 35, 26)
                    .product-item-text
                      span.product-item-text__title Крейсерская скорость
                      span.product-item-text__descr 90 км/ч
                  .product-item
                    +svg('height', 35, 35)
                    .product-item-text
                      span.product-item-text__title Высота полёта до
                      span.product-item-text__descr 2000 м
                  .product-item
                    +svg('distance', 35, 26)
                    .product-item-text
                      span.product-item-text__title Дальность действия
                      span.product-item-text__descr 300 км.
                  .product-item
                    +svg('clock', 33, 33)
                    .product-item-text
                      span.product-item-text__title Время полёта
                      span.product-item-text__descr до 2 часов
                span.product__additional Дополнительные опции
                select(size="1").product-additional-select
                  option(value="Система парашюта") Система парашюта
                a(href="#contact").button.product__button ПОДРОБНЕЕ
            .product-wrap
              .product-image
                picture
                  img(src="../../img/slider/top-slider-img.png", srcset="../../img/slider/top-slider-img@2x.png 2x", alt="фото конвертоплана")
              .product-text
                h2.product__title КОНВЕРТОПЛАН ЭРА-54А
                span.product__descr Многоцелевой конвертоплан с влагозащищенной силовой установкой
                .product-text-block
                  .product-item
                    +svg('speed', 35, 26)
                    .product-item-text
                      span.product-item-text__title Крейсерская скорость
                      span.product-item-text__descr 90 км/ч
                  .product-item
                    +svg('height', 35, 35)
                    .product-item-text
                      span.product-item-text__title Высота полёта до
                      span.product-item-text__descr 2000 м
                  .product-item
                    +svg('distance', 35, 26)
                    .product-item-text
                      span.product-item-text__title Дальность действия
                      span.product-item-text__descr 300 км.
                  .product-item
                    +svg('clock', 33, 33)
                    .product-item-text
                      span.product-item-text__title Время полёта
                      span.product-item-text__descr до 2 часов
                span.product__additional Дополнительные опции
                select(size="1").product-additional-select
                  option(value="Система парашюта") Система парашюта
                a(href="#contact").button.product__button ПОДРОБНЕЕ
            .product-wrap
              .product-image
                picture
                  img(src="../../img/slider/top-slider-img.png", srcset="../../img/slider/top-slider-img@2x.png 2x", alt="фото конвертоплана")
              .product-text
                h2.product__title КОНВЕРТОПЛАН ЭРА-54А
                span.product__descr Многоцелевой конвертоплан с влагозащищенной силовой установкой
                .product-text-block
                  .product-item
                    +svg('speed', 35, 26)
                    .product-item-text
                      span.product-item-text__title Крейсерская скорость
                      span.product-item-text__descr 90 км/ч
                  .product-item
                    +svg('height', 35, 35)
                    .product-item-text
                      span.product-item-text__title Высота полёта до
                      span.product-item-text__descr 2000 м
                  .product-item
                    +svg('distance', 35, 26)
                    .product-item-text
                      span.product-item-text__title Дальность действия
                      span.product-item-text__descr 300 км.
                  .product-item
                    +svg('clock', 33, 33)
                    .product-item-text
                      span.product-item-text__title Время полёта
                      span.product-item-text__descr до 2 часов
                span.product__additional Дополнительные опции
                select(size="1").product-additional-select
                  option(value="Система парашюта") Система парашюта
                a(href="#contact").button.product__button ПОДРОБНЕЕ
            .product-wrap
              .product-image
                picture
                  img(src="../../img/slider/top-slider-img.png", srcset="../../img/slider/top-slider-img@2x.png 2x", alt="фото конвертоплана")
              .product-text
                h2.product__title КОНВЕРТОПЛАН ЭРА-54А
                span.product__descr Многоцелевой конвертоплан с влагозащищенной силовой установкой
                .product-text-block
                  .product-item
                    +svg('speed', 35, 26)
                    .product-item-text
                      span.product-item-text__title Крейсерская скорость
                      span.product-item-text__descr 90 км/ч
                  .product-item
                    +svg('height', 35, 35)
                    .product-item-text
                      span.product-item-text__title Высота полёта до
                      span.product-item-text__descr 2000 м
                  .product-item
                    +svg('distance', 35, 26)
                    .product-item-text
                      span.product-item-text__title Дальность действия
                      span.product-item-text__descr 300 км.
                  .product-item
                    +svg('clock', 33, 33)
                    .product-item-text
                      span.product-item-text__title Время полёта
                      span.product-item-text__descr до 2 часов
                span.product__additional Дополнительные опции
                select(size="1").product-additional-select
                  option(value="Система парашюта") Система парашюта
                a(href="#contact").button.product__button ПОДРОБНЕЕ
            .product-wrap
              .product-image
                picture
                  img(src="../../img/slider/top-slider-img.png", srcset="../../img/slider/top-slider-img@2x.png 2x", alt="фото конвертоплана")
              .product-text
                h2.product__title КОНВЕРТОПЛАН ЭРА-54А
                span.product__descr Многоцелевой конвертоплан с влагозащищенной силовой установкой
                .product-text-block
                  .product-item
                    +svg('speed', 35, 26)
                    .product-item-text
                      span.product-item-text__title Крейсерская скорость
                      span.product-item-text__descr 90 км/ч
                  .product-item
                    +svg('height', 35, 35)
                    .product-item-text
                      span.product-item-text__title Высота полёта до
                      span.product-item-text__descr 2000 м
                  .product-item
                    +svg('distance', 35, 26)
                    .product-item-text
                      span.product-item-text__title Дальность действия
                      span.product-item-text__descr 300 км.
                  .product-item
                    +svg('clock', 33, 33)
                    .product-item-text
                      span.product-item-text__title Время полёта
                      span.product-item-text__descr до 2 часов
                span.product__additional Дополнительные опции
                select(size="1").product-additional-select
                  option(value="Система парашюта") Система парашюта
                a(href="#contact").button.product__button ПОДРОБНЕЕ
            .product-wrap
                .product-image
                  picture
                    img(src="../../img/slider/top-slider-img.png", srcset="../../img/slider/top-slider-img@2x.png 2x", alt="фото конвертоплана")
                .product-text
                  h2.product__title КОНВЕРТОПЛАН ЭРА-54А
                  span.product__descr Многоцелевой конвертоплан с влагозащищенной силовой установкой
                  .product-text-block
                    .product-item
                      +svg('speed', 35, 26)
                      .product-item-text
                        span.product-item-text__title Крейсерская скорость
                        span.product-item-text__descr 90 км/ч
                    .product-item
                      +svg('height', 35, 35)
                      .product-item-text
                        span.product-item-text__title Высота полёта до
                        span.product-item-text__descr 2000 м
                    .product-item
                      +svg('distance', 35, 26)
                      .product-item-text
                        span.product-item-text__title Дальность действия
                        span.product-item-text__descr 300 км.
                    .product-item
                      +svg('clock', 33, 33)
                      .product-item-text
                        span.product-item-text__title Время полёта
                        span.product-item-text__descr до 2 часов
                  span.product__additional Дополнительные опции
                  select(size="1").product-additional-select
                    option(value="Система парашюта") Система парашюта
                  a(href="#contact").button.product__button ПОДРОБНЕЕ
          h2.product__title.product__title--second(id="decision") Наша продукция
          .product-slider.slider-nav
            .slide-wrap
              .product-slide
                picture
                  img(src="../../img/slider/slider-img-1.png", srcset="../../img/slider/slider-img-1@2x.png", alt="Фотография конвертоплана")
                h3.product-slide__title КОНВЕРТОПЛАН ЭРА-54К
                .product-slide-item
                  +svg('clock', 30, 30)
                  .product-slide-item-text
                    span.product-slide-item-text__title Время полёта
                    span.product-slide-item-text__descr 90 км/ч
                .product-slide-item
                  +svg('weight', 31, 33)
                  .product-slide-item-text
                    span.product-slide-item-text__title Полезной нагрузки до
                    span.product-slide-item-text__descr 300 км.
                a(href="#for").button.product-slide__button ПОДРОБНЕЕ
            .slide-wrap
              .product-slide
                picture
                  img(src="../../img/slider/slider-img-2.png", srcset="../../img/slider/slider-img-2@2x.png", alt="Фотография конвертоплана")
                h3.product-slide__title КОНВЕРТОПЛАН ЭРА-54Т
                .product-slide-item
                  +svg('clock', 30, 30)
                  .product-slide-item-text
                    span.product-slide-item-text__title Время полёта
                    span.product-slide-item-text__descr 90 км/ч
                .product-slide-item
                  +svg('weight', 31, 33)
                  .product-slide-item-text
                    span.product-slide-item-text__title Полезной нагрузки до
                    span.product-slide-item-text__descr 300 км.
                a(href="#for").button.product-slide__button ПОДРОБНЕЕ
            .slide-wrap
              .product-slide
                picture
                  img(src="../../img/slider/slider-img-3.png", srcset="../../img/slider/slider-img-3@2x.png", alt="Фотография конвертоплана")
                h3.product-slide__title КОНВЕРТОПЛАН ЭРА-54Д
                .product-slide-item
                  +svg('clock', 30, 30)
                  .product-slide-item-text
                    span.product-slide-item-text__title Время полёта
                    span.product-slide-item-text__descr 90 км/ч
                .product-slide-item
                  +svg('weight', 31, 33)
                  .product-slide-item-text
                    span.product-slide-item-text__title Полезной нагрузки до
                    span.product-slide-item-text__descr 300 км.
                a(href="#for").button.product-slide__button ПОДРОБНЕЕ
            .slide-wrap
              .product-slide
                picture
                  img(src="../../img/slider/slider-img-1.png", srcset="../../img/slider/slider-img-1@2x.png", alt="Фотография конвертоплана")
                h3.product-slide__title КОНВЕРТОПЛАН ЭРА-54К
                .product-slide-item
                  +svg('clock', 30, 30)
                  .product-slide-item-text
                    span.product-slide-item-text__title Время полёта
                    span.product-slide-item-text__descr 90 км/ч
                .product-slide-item
                  +svg('weight', 31, 33)
                  .product-slide-item-text
                    span.product-slide-item-text__title Полезной нагрузки до
                    span.product-slide-item-text__descr 300 км.
                a(href="#for").button.product-slide__button ПОДРОБНЕЕ
            .slide-wrap
              .product-slide
                picture
                  img(src="../../img/slider/slider-img-2.png", srcset="../../img/slider/slider-img-2@2x.png", alt="Фотография конвертоплана")
                h3.product-slide__title КОНВЕРТОПЛАН ЭРА-54Т
                .product-slide-item
                  +svg('clock', 30, 30)
                  .product-slide-item-text
                    span.product-slide-item-text__title Время полёта
                    span.product-slide-item-text__descr 90 км/ч
                .product-slide-item
                  +svg('weight', 31, 33)
                  .product-slide-item-text
                    span.product-slide-item-text__title Полезной нагрузки до
                    span.product-slide-item-text__descr 300 км.
                a(href="#for").button.product-slide__button ПОДРОБНЕЕ
            .slide-wrap
              .product-slide
                picture
                  img(src="../../img/slider/slider-img-3.png", srcset="../../img/slider/slider-img-3@2x.png", alt="Фотография конвертоплана")
                h3.product-slide__title КОНВЕРТОПЛАН ЭРА-54Д
                .product-slide-item
                  +svg('clock', 30, 30)
                  .product-slide-item-text
                    span.product-slide-item-text__title Время полёта
                    span.product-slide-item-text__descr 90 км/ч
                .product-slide-item
                  +svg('weight', 31, 33)
                  .product-slide-item-text
                    span.product-slide-item-text__title Полезной нагрузки до
                    span.product-slide-item-text__descr 300 км.
                a(href="#for").button.product-slide__button ПОДРОБНЕЕ
          .product-slider-controls
            .slider-button-prev
              +svg('left-arrow', 41, 10)
            .slider-pagination
            .slider-button-next
              +svg('right-arrow', 41, 10)
      section.section.workings-section
        .container
          h2.section__title.workings__title Перспективные разработки
          span.workings__subtitle Наши текущие разработки
          .workings-wrap
            .workings-item
              img(src="img/workings/workings-1.png", srcset="img/workings/workings-1@2x.png 2x", alt="Фото разработки")
              h3.workings__number 01
              .workings-text
                h4.workings-text__title ЭРА-72
                p.workings-text__descr взлетный вес от 30 до 90 кг. и увеличенная скорость полета до 300 км/ч с применением ВИШ и защитой от РЭБ.
            .workings-item
              img(src="img/workings/workings-2.png" srcset="img/workings/workings-2@2x.png 2x", alt="Фото разработки")
              h3.workings__number 02
              .workings-text
                h4.workings-text__title ГРузовой байк
                p.workings-text__descr взлетный вес от 30 до 90 кг. и увеличенная скорость полета до 300 км/ч с применением ВИШ и защитой от РЭБ.
            .workings-item
              img(src="img/workings/workings-3.png", srcset="img/workings/workings-3@2x.png 2x", alt="Фото разработки")
              h3.workings__number 03
              .workings-text
                h4.workings-text__title Аэротакси
                p.workings-text__descr взлетный вес от 30 до 90 кг. и увеличенная скорость полета до 300 км/ч с применением ВИШ и защитой от РЭБ.
      section.section.video-section
        .container
          .video-slider
            .video-slide
              video(preload="metadata" controls playsinline)
                source(src="https://bossclean.ru/wp-content/uploads/2020/01/CLEANBACK-REPRESENT-720p_Trim.mp4")
                object(data="https://bossclean.ru/wp-content/uploads/2020/01/CLEANBACK-REPRESENT-720p_Trim.mp4")
                  param(name="movie" value="https://bossclean.ru/wp-content/uploads/2020/01/CLEANBACK-REPRESENT-720p_Trim.mp4")
            .video-slide
              video(preload="metadata" controls playsinline)
                source(src="https://bossclean.ru/wp-content/uploads/2020/01/CLEANBACK-REPRESENT-720p_Trim.mp4")
                object(data="https://bossclean.ru/wp-content/uploads/2020/01/CLEANBACK-REPRESENT-720p_Trim.mp4")
                  param(name="movie" value="https://bossclean.ru/wp-content/uploads/2020/01/CLEANBACK-REPRESENT-720p_Trim.mp4")
            .video-slide
              video(preload="metadata" controls playsinline)
                source(src="https://bossclean.ru/wp-content/uploads/2020/01/CLEANBACK-REPRESENT-720p_Trim.mp4")
                object(data="https://bossclean.ru/wp-content/uploads/2020/01/CLEANBACK-REPRESENT-720p_Trim.mp4")
                  param(name="movie" value="https://bossclean.ru/wp-content/uploads/2020/01/CLEANBACK-REPRESENT-720p_Trim.mp4")
          .video-slider-arrows
            .video-slider-prev
              +svg('big-left-arrow', 33, 45)
            .video-slider-next
              +svg('big-right-arrow', 33, 45)
      section.section.form-section(id="contact")
        .container
          h2.section__title.form-section__title СВЯЗАТЬСЯ С НАМИ
          .form-wrap
            .form-wrap-backgrounder
              h3.backgrounder__title Заполните форму
              p.backgrounder__subtitle Мы свяжемся с вами любым удобным для вас способом
            .form-wrap-data
              form(action="#" id="contact-form")
                .input-wrap
                  input.name(type="text" placeholder="Ваше имя" name="username")
                .input-wrap
                  input.email(type="email" placeholder="Ваш E-mail" name="useremail")
                .input-wrap
                  input.tel(id="tel", type="tel" placeholder="Ваш номер телефона" name="usertel")
                .input-wrap
                  select(size="1")
                    option(value="Интересующая модель конвертоплана") Интересующая модель
                    option(value="КОНВЕРТОПЛАН ЭРА-54Т") КОНВЕРТОПЛАН ЭРА-54Т
                    option(value="КОНВЕРТОПЛАН ЭРА-54Д") КОНВЕРТОПЛАН ЭРА-54Д
                    option(value="КОНВЕРТОПЛАН ЭРА-54A") КОНВЕРТОПЛАН ЭРА-54A
                .textarea-wrap
                  textarea(name="usermessage" placeholder="Ваше сообщение")
                button.button.form__button(type="submit",) ОТПРАВИТЬ
      section.section.news-section(id="news")
        .container
          h2.section__title.news-section__title новости
          .news-wrap
            .news-item
              .news-image
                picture
                  img(src="img/news/news-img.png", srcset="img/news/news-img@2x.png 2x", alt="Фото новости")
              .news-text
                .news-text-block
                  h3.news-text-block__title Новость 1
                  span.news-text-block__subtitle Подзаголовок новости 1
                a.button.news-text-block__button(href="#") ЧИТАТЬ
            .news-item
              .news-image
                picture
                  img(src="img/news/news-img.png", srcset="img/news/news-img@2x.png 2x", alt="Фото новости")
              .news-text
                .news-text-block
                  h3.news-text-block__title Новость 2
                  span.news-text-block__subtitle Подзаголовок новости 2
                a.button.news-text-block__button(href="#") ЧИТАТЬ
            .news-item
              .news-image
                picture
                  img(src="img/news/news-img.png", srcset="img/news/news-img@2x.png 2x", alt="Фото новости")
              .news-text
                .news-text-block
                  h3.news-text-block__title Новость 3
                  span.news-text-block__subtitle Подзаголовок новости 3
                a.button.news-text-block__button(href="#") ЧИТАТЬ
      section.section.pattern-section
        .container
        .pattern-content
          .pattern-image
            picture
              img(src="img/pattern/pattern.png", srcset="img/pattern/pattern@2x.png 2x", alt="Фото схемы конвертоплана")
          .pattern-lines
            img(src="img/pattern/lines.png", alt="Линии")
          .pattern-text
            .pattern-text-block
              h3.pattern-text-block__title Влагозащищенные<br> сервоприводы
              p.pattern-text-block__descr Позволяет работать в<br> сложных погодных<br> условиях
            .pattern-text-block
              h3.pattern-text-block__title Генераторная установка<br> с защитным кожухом
              p.pattern-text-block__descr Обеспечивает дополнительную<br> защиту от внешних факторов
            .pattern-text-block
              h3.pattern-text-block__title Карбоновый фюзеляж
              p.pattern-text-block__descr Позволяет облегчить общую<br> массу БПЛА и лететь лучше
            .pattern-text-block
              h3.pattern-text-block__title Детали из алюминия и<br> ABC пластика
              p.pattern-text-block__descr Лёгкий и прочный корпус<br> позволяет увеличить<br> полезную нагрузку
      .modal
        .modal-block
          img(src="img/sprite/close.svg", alt="кнопка закрытия").modal-block__close
          h2.modal-block__title ФОРМА УСПЕШНО ОТПРАВЛЕНА
          p.modal-block__text Наши менеджеры свяжутся с вами в ближайшее время
    a.top(href="#top") Наверх
      +svg('top-arrow', 8, 27)
    +footer('Главная страница')