include ../global/head
include ../global/header
//- include ../global/footer
include ../components/svg

doctype html
html(lang='ru')
  +head('Новые технологии')
  body
    +header(pageName)

    main
      section.section.hero-section
        h1.hero__title беспилотный конвертоплан серии ЭРА
        picture
          img(class="hero__img" src="../../img/hero/hero-img.png", srcet="../../img/hero/hero-img@2x.png", alt="Фото конвертоплана")

      section.section.presentation-section
        .container.presentation-container
          .presentation-wrap
            .presentation-text
              h2.presentation__title КОНВЕРТОПЛАНЫ ЭРА
              p.presentation__descr Масштабируемость конструкции под задачу, простота, надежность, полевая ремонтопригодность и модульность, низкая цена
              button.button.presentation__button МОДЕЛЬНЫЙ РЯД
            .presentation-content
              .presentation-image
                picture
                  img(src="../../img/hero/era54a.png", srcet="../../img/hero/era54a@2x.png", alt="")
              .presentation-block
                .presentation-item
                  +svg('clock', 25, 25)
                  .presentation-item-text
                    span.presentation-item-text__title Время полёта
                    <sup>*</sup>
                    p.presentation-item-text__visible При общей массе не подлежащей сертификации
                    span.presentation-item-text__descr до 4 часов
                .presentation-item
                  +svg('weight', 33, 33)
                  .presentation-item-text
                    span.presentation-item-text__title Полезной нагрузки
                    span.presentation-item-text__descr до 7 килограмм
                .presentation-item
                  +svg('wind', 26, 26)
                  .presentation-item-text
                    span.presentation-item-text__title Ветроустройчивость
                    span.presentation-item-text__descr до 23 м/c
                .presentation-item
                  button.button.presentation__button ПОДРОБНЕЕ
      section.section.advantages-section
        .container
          h2.section__title.advantages__title ПРЕИМУЩЕСТВА КОНВЕРТОПЛАНОВ серии ЭРА
          .advantages-wrap
            .advantages-item
              .advantages-item-content
                h3.advantages__number 01
                picture
                  img(src="../../img/advantages/advantages-1.png", srcet="../../img/advantages/advantages-1@2x.png", alt="фото преимущества")
              p.advantages-item__descr Высокая ветроустойчивость (до 23 м/c) в обоих режимах полета за счет изменения вектора тяги
            .advantages-item
              .advantages-item-content
                h3.advantages__number 02
                picture
                  img(src="../../img/advantages/advantages-2.png", srcet="../../img/advantages/advantages-2@2x.png", alt="фото преимущества")
              p.advantages-item__descr Поворотные механизмы двигателей обеспечивают конверсию между режимами и управление полетом без другой механизации
            .advantages-item
              .advantages-item-content
                h3.advantages__number 03
                picture
                  img(src="../../img/advantages/advantages-3.png", srcet="../../img/advantages/advantages-3@2x.png", alt="фото преимущества")
              p.advantages-item__descr Масштабируемость конструкции под задачу, простота, надежность, полевая ремонтопригодность, модульность, низкая цена
      section.section.product-section
        .container
          .swiper-container.gallery-top
            .swiper-wrapper
              .product-wrap.swiper-slide
                .product-image
                  picture
                    img(src="../../img/slider/top-slider-img.png", srcet="../../img/slider/top-slider-img@2x.png", alt="фото конвертоплана")
                .product-text
                  h2.product__title КОНВЕРТОПЛАН ЭРА-54А
                  span.product__descr Многоцелевой конвертоплан с влагозащищенной силовой установкой
                  .product-text-block
                    .product-item
                      +svg('speed', 35, 26)
                      .product-item-text
                        span.product-item-text__title Крейсерская скорость
                        span.product-item-text__descr 90 км/ч
                    .product-item
                      +svg('height', 35, 35)
                      .product-item-text
                        span.product-item-text__title Высота полёта до
                        span.product-item-text__descr 2000 м
                    .product-item
                      +svg('distance', 35, 26)
                      .product-item-text
                        span.product-item-text__title Дальность действия
                        span.product-item-text__descr 300 км.
                    .product-item
                      +svg('clock', 33, 33)
                      .product-item-text
                        span.product-item-text__title Время полёта
                        span.product-item-text__descr до 2 часов
                  span.product__additional Дополнительные опции
                  select(size="1").product-additional-select
                    option(value="Система парашюта") Система парашюта
                  button.button.product__button ПОДРОБНЕЕ
              .product-wrap.swiper-slide
                .product-image
                  picture
                    img(src="../../img/slider/top-slider-img.png", srcet="../../img/slider/top-slider-img@2x.png", alt="фото конвертоплана")
                .product-text
                  h2.product__title КОНВЕРТОПЛАН ЭРА-54А
                  span.product__descr Многоцелевой конвертоплан с влагозащищенной силовой установкой
                  .product-text-block
                    .product-item
                      +svg('speed', 35, 26)
                      .product-item-text
                        span.product-item-text__title Крейсерская скорость
                        span.product-item-text__descr 90 км/ч
                    .product-item
                      +svg('height', 35, 35)
                      .product-item-text
                        span.product-item-text__title Высота полёта до
                        span.product-item-text__descr 2000 м
                    .product-item
                      +svg('distance', 35, 26)
                      .product-item-text
                        span.product-item-text__title Дальность действия
                        span.product-item-text__descr 300 км.
                    .product-item
                      +svg('clock', 33, 33)
                      .product-item-text
                        span.product-item-text__title Время полёта
                        span.product-item-text__descr до 2 часов
                  span.product__additional Дополнительные опции
                  select(size="1").product-additional-select
                    option(value="Система парашюта") Система парашюта
                  button.button.product__button ПОДРОБНЕЕ
              .product-wrap.swiper-slide
                .product-image
                  picture
                    img(src="../../img/slider/top-slider-img.png", srcet="../../img/slider/top-slider-img@2x.png", alt="фото конвертоплана")
                .product-text
                  h2.product__title КОНВЕРТОПЛАН ЭРА-54А
                  span.product__descr Многоцелевой конвертоплан с влагозащищенной силовой установкой
                  .product-text-block
                    .product-item
                      +svg('speed', 35, 26)
                      .product-item-text
                        span.product-item-text__title Крейсерская скорость
                        span.product-item-text__descr 90 км/ч
                    .product-item
                      +svg('height', 35, 35)
                      .product-item-text
                        span.product-item-text__title Высота полёта до
                        span.product-item-text__descr 2000 м
                    .product-item
                      +svg('distance', 35, 26)
                      .product-item-text
                        span.product-item-text__title Дальность действия
                        span.product-item-text__descr 300 км.
                    .product-item
                      +svg('clock', 33, 33)
                      .product-item-text
                        span.product-item-text__title Время полёта
                        span.product-item-text__descr до 2 часов
                  span.product__additional Дополнительные опции
                  select(size="1").product-additional-select
                    option(value="Система парашюта") Система парашюта
                  button.button.product__button ПОДРОБНЕЕ
            .product-slider-arrows
              .swiper-button-prev
                +svg('left-arrow', 41, 10)
              .swiper-button-next
                +svg('right-arrow', 41, 10)
          h2.product__title.product__title--second Наша продукция
          .product-slider.swiper-container.gallery-thumbs
            .swiper-wrapper
              .product-slide.swiper-slide
                picture
                  img(src="../../img/slider/slider-img-1.png", srcet="../../img/slider/slider-img-1@2x.png", alt="Фотография конвертоплана")
                h3.product-slide__title КОНВЕРТОПЛАН ЭРА-54К
                .product-slide-item
                  +svg('clock', 30, 30)
                  .product-slide-item-text
                    span.product-slide-item-text__title Время полёта
                    span.product-slide-item-text__descr 90 км/ч
                .product-slide-item
                  +svg('weight', 31, 33)
                  .product-slide-item-text
                    span.product-slide-item-text__title Полезной нагрузки до
                    span.product-slide-item-text__descr 300 км.
                .button.product-slide__button ПОДРОБНЕЕ
              .product-slide.swiper-slide
                picture
                  img(src="../../img/slider/slider-img-2.png", srcet="../../img/slider/slider-img-2@2x.png", alt="Фотография конвертоплана")
                h3.product-slide__title КОНВЕРТОПЛАН ЭРА-54Т
                .product-slide-item
                  +svg('clock', 30, 30)
                  .product-slide-item-text
                    span.product-slide-item-text__title Время полёта
                    span.product-slide-item-text__descr 90 км/ч
                .product-slide-item
                  +svg('weight', 31, 33)
                  .product-slide-item-text
                    span.product-slide-item-text__title Полезной нагрузки до
                    span.product-slide-item-text__descr 300 км.
                .button.product-slide__button ПОДРОБНЕЕ
              .product-slide.swiper-slide
                picture
                  img(src="../../img/slider/slider-img-3.png", srcet="../../img/slider/slider-img-3@2x.png", alt="Фотография конвертоплана")
                h3.product-slide__title КОНВЕРТОПЛАН ЭРА-54Д
                .product-slide-item
                  +svg('clock', 30, 30)
                  .product-slide-item-text
                    span.product-slide-item-text__title Время полёта
                    span.product-slide-item-text__descr 90 км/ч
                .product-slide-item
                  +svg('weight', 31, 33)
                  .product-slide-item-text
                    span.product-slide-item-text__title Полезной нагрузки до
                    span.product-slide-item-text__descr 300 км.
                .button.product-slide__button ПОДРОБНЕЕ
              .product-slide.swiper-slide
                picture
                  img(src="../../img/slider/slider-img-1.png", srcet="../../img/slider/slider-img-1@2x.png", alt="Фотография конвертоплана")
                h3.product-slide__title КОНВЕРТОПЛАН ЭРА-54К
                .product-slide-item
                  +svg('clock', 30, 30)
                  .product-slide-item-text
                    span.product-slide-item-text__title Время полёта
                    span.product-slide-item-text__descr 90 км/ч
                .product-slide-item
                  +svg('weight', 31, 33)
                  .product-slide-item-text
                    span.product-slide-item-text__title Полезной нагрузки до
                    span.product-slide-item-text__descr 300 км.
                .button.product-slide__button ПОДРОБНЕЕ
              .product-slide.swiper-slide
                picture
                  img(src="../../img/slider/slider-img-2.png", srcet="../../img/slider/slider-img-2@2x.png", alt="Фотография конвертоплана")
                h3.product-slide__title КОНВЕРТОПЛАН ЭРА-54Т
                .product-slide-item
                  +svg('clock', 30, 30)
                  .product-slide-item-text
                    span.product-slide-item-text__title Время полёта
                    span.product-slide-item-text__descr 90 км/ч
                .product-slide-item
                  +svg('weight', 31, 33)
                  .product-slide-item-text
                    span.product-slide-item-text__title Полезной нагрузки до
                    span.product-slide-item-text__descr 300 км.
                .button.product-slide__button ПОДРОБНЕЕ
              .product-slide.swiper-slide
                picture
                  img(src="../../img/slider/slider-img-3.png", srcet="../../img/slider/slider-img-3@2x.png", alt="Фотография конвертоплана")
                h3.product-slide__title КОНВЕРТОПЛАН ЭРА-54Д
                .product-slide-item
                  +svg('clock', 30, 30)
                  .product-slide-item-text
                    span.product-slide-item-text__title Время полёта
                    span.product-slide-item-text__descr 90 км/ч
                .product-slide-item
                  +svg('weight', 31, 33)
                  .product-slide-item-text
                    span.product-slide-item-text__title Полезной нагрузки до
                    span.product-slide-item-text__descr 300 км.
                .button.product-slide__button ПОДРОБНЕЕ

    script(src="js/main.js")