.product
  &-wrap
    display: flex !important
    justify-content: space-between
    outline: none
    @include tablet
      flex-direction: column
      align-items: center
  &-image
    margin-right: 25px
    width: 100%
    max-width: 635px
    margin-top: 40px
    img
      width: 100%
      max-height: 305px
    @include tablet
      margin: 0 0 75px
  &__title
    font-size: 30px
    line-height: 35px
    letter-spacing: 0.035em
    color: #232323
    +furore
    @include mobile-portrait
      font-size: 22px
      line-height: 25px
    &--second
      margin: 70px 0 85px
      text-align: center
      @include mobile
        margin: 80px 0 30px
  &__descr
    margin: 10px 0 25px
    max-width: 365px
    display: inline-block
    font-weight: 300
    font-size: 14px
    line-height: 17px
    color: rgba(0, 0, 0, 0.38)
    @include tablet
      margin-bottom: 20px
    @include mobile-portrait
      font-size: 11px
      line-height: 13px
  &-text
    &-block
      width: 100%
      max-width: 495px
      display: flex
      align-items: center
      flex-wrap: wrap
      @include tablet
        flex-direction: column
        align-items: baseline
  &-item
    margin-bottom: 45px
    display: flex
    align-items: center
    flex: 50%
    @include tablet
      margin-bottom: 40px
    svg
      margin-right: 10px
    &-text
      display: flex
      flex-direction: column
      &__title
        margin-bottom: 10px
        font-size: 14px
        line-height: 17px
        rgba(147, 147, 147, 0.63)
        @include mobile-portrait
          font-size: 12px
          line-height: 15px
      &__descr
        +montserratSemibold
        font-size: 18px
        line-height: 22px
        color: #2b2b2b
        @include mobile-portrait
          font-size: 15px
          line-height: 18px
  &__additional
    display: block
    font-size: 14px
    line-height: 17px
    color: #bbb
  &-additional
    &-select
      margin: 10px 0 20px
      width: 100%
      padding: 16px 20px
      border: none
      background: $white
      box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.06)
      border-radius: 10px
      font-size: 14px
      line-height: 17
      color: #6c6c6b
  &__button
    display: block
    width: 100%
    max-width: 197px
    padding: 11px 0
    color: $white
    font-size: 13px
    background-color: $blue
    +montserratSemibold
    text-transform: uppercase
    text-align: center
    @include tablet
      margin: 0 auto
    @include mobile-portrait
      max-width: 168px
      font-size: 12px
      line-height: 16px
      letter-spacing: 0.01em
  &-slide
    margin-top: 4px
    width: 100%
    max-width: 415px
    height: 493px
    padding: 60px 0 47px 20px
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.06)
    border-radius: 10px
    transition: 0.3s
    outline: none
    @include laptop
      margin: 0
      padding: 40px 20px 40px 25px
    @include mobile
      height: 400px
      padding: 20px 10px 40px 15px
    @include mobile-portrait
    &__title, &-item
      padding-left: 55px
      @include laptop
        padding-left: 25px
      @include mobile
        padding-left: 0
    img
      margin: 0 auto
      padding-right: 35px
      width: 100%
      max-width: 380px
      max-height: 165px
      @include laptop
        padding-right: 0
      @include tablet
      @include mobile-portrait
        height: 100%
        object-fit: contain
    &__title
      margin: 70px 0 20px
      +furore
      font-size: 18px
      line-height: 21px
      letter-spacing: 0.035em
      color: #232323
      @include tablet
        margin: 45px 0 30px
      @include mobile-portrait
        margin-top: 10px
    &-item
      margin-bottom: 15px
      display: flex
      align-items: center
      svg
        margin-right: 15px
      &-text
        display: flex
        flex-direction: column
        &__title
          margin-bottom: 10px
          font-size: 14px
          line-height: 17px
          color: rgba(147, 147, 147, 0.63)
        &__descr
          +montserratSemibold
          font-size: 18px
          line-height: 22px
          color: #2b2b2b
    &__button
      display: block
      opacity: 0
      margin: 40px auto 0
      width: 100%
      max-width: 129px
      padding: 6px 0
      color: $white
      font-size: 13px
      line-height: 16px
      letter-spacing: 0.01em
      background-color: $blue
      +montserratSemibold
      text-transform: uppercase
      text-align: center
      transition: 0.3s
      &:hover
        opacity: 0
      @include tablet
        margin-top: 15px
      @include mobile
        margin-top: -5px
  &-slider
    margin: 0 -20px
    height: 545px
    @include mobile
      height: 480px
    .slide-wrap
      padding: 0 20px
      height: auto
      outline: none
    .slick-track
      display: flex
      align-items: center
      height: 541px
      @include laptop
        height: 545px
      @include mobile
        height: 480px
    .slick-list
      height: 545px
      @include mobile
        height: 480px
    .slick-current
      .product
        &-slide
          height: 545px
          border: 3px solid rgba(1, 72, 255, 0.42)
          box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 16px 30px rgba(0, 0, 0, 0.1)
          @include tablet
            margin: 0 auto
            height: 500px
          @include mobile
            height: 480px
          @include mobile-portrait
            height: 415px
          &__button
            opacity: 1
            &:hover
              opacity: 0.7
    &-controls
      position: relative
      display: flex
      align-items: center
      justify-content: center
      .slider-button-prev, .slider-button-next
        position: initial
        margin-top: 0
        width: 41px
        height: 10px
        outline: none
        cursor: pointer
      .slider-button-prev
        margin-right: 10px
      .slider-button-next
        margin-left: 10px
      .slider-pagination
        position: relative
        display: flex
        align-items: center
        .slick-dots
          position: relative
          bottom: 0
          li
            margin-right: 10px
            width: 16px
            height: 16px
            background-color: #efefef
            opacity: 1
            border-radius: 50%
            &:last-child
              margin-right: 0
            &-active
            button
              width: 16px
              height: 16px
              border-radius: 50%
              background: #e6e6e6
              &:before
                content: ''
          li.slick-active
            border-radius: 50%
            button
              background: #2E3DB6