@mixin laptop {
  @media (max-width: $laptop) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $mobile-landscape) {
    @content;
  }
}

@mixin mobile-portrait {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin transition($args...) {
  transition-property: $args;
  transition-duration: 0.3s;
}
